@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #e0e0e0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono); /* Default to mono for that raw feel */
}

/* Custom Scrollbar for Chrome/Safari/Webkit */
::-webkit-scrollbar {
  width: 12px;
  background: #1a1a1a;
  border-left: 1px solid #333;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #39ff14; /* Neon green hover */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .glass-fragment {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .border-brutal {
    border: 2px solid #333;
    box-shadow: 4px 4px 0 #000;
  }

  .border-neon {
    border: 1px solid #39ff14;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.5);
  }
}
